* text=auto eol=lf
*.cmd text eol=crlf

*.class binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary
*.pdf binary
*.zip binary
*.tar binary
*.gz binary
*.jar binary
*.war binary
*.ear binary
*.nar binary
*.xlsx binary
*.xls binary
